# 176. Second Highest Salary

SQL SchemaPandas SchemaTable: Employee+-------------+------+| Column Name | Type |+-------------+------+| id          | int  || salary      | int  |+-------------+------+id is the primary key (column with unique values) for this table.Each row of this table contains information about the salary of an employee. Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).The result format is in the following example. **Example 1:**Input: Employee table:+----+--------+| id | salary |+----+--------+| 1  | 100    || 2  | 200    || 3  | 300    |+----+--------+Output: +---------------------+| SecondHighestSalary |+---------------------+| 200                 |+---------------------+**Example 2:**Input: Employee table:+----+--------+| id | salary |+----+--------+| 1  | 100    |+----+--------+Output: +---------------------+| SecondHighestSalary |+---------------------+| null                |+---------------------+

## Solution Explanation
This problem asks us to find the second highest distinct salary from the Employee table. If there is no second highest salary, we should return null.There are several approaches to solve this problem:1. **Using ORDER BY and LIMIT**: We can sort the distinct salaries in descending order and then get the second one using LIMIT and OFFSET.2. **Using a subquery with MAX**: We can find the maximum salary and then find the maximum salary that is less than the maximum.3. **Using window functions**: We can use window functions like DENSE_RANK() to rank the salaries and then filter for the second rank.For the SQL solution, I'll implement the first approach as it's straightforward. For the Pandas solution, I'll use a similar approach with sorting and indexing.

In [ ]:
# SQL Solutiondef second_highest_salary_sql(employee_table):    import sqlite3        # Create an in-memory SQLite database    conn = sqlite3.connect(':memory:')    cursor = conn.cursor()        # Create the Employee table    cursor.execute('''    CREATE TABLE Employee (        id INTEGER PRIMARY KEY,        salary INTEGER    )    ''')        # Insert data into the Employee table    for row in employee_table:        cursor.execute('INSERT INTO Employee (id, salary) VALUES (?, ?)', row)        # Query to find the second highest distinct salary    cursor.execute('''    SELECT (        SELECT DISTINCT salary        FROM Employee        ORDER BY salary DESC        LIMIT 1 OFFSET 1    ) AS SecondHighestSalary    ''')        result = cursor.fetchone()[0]    conn.close()        return result  # Returns None if there's no second highest salary# Pandas Solutiondef second_highest_salary_pandas(employee_df):    import pandas as pd        # Get distinct salaries and sort them in descending order    unique_salaries = employee_df['salary'].drop_duplicates().sort_values(descending=True)        # Check if there's a second highest salary    if len(unique_salaries) < 2:        return None        # Return the second highest salary    return unique_salaries.iloc[1]# Alternative Pandas Solution using nlargestdef second_highest_salary_pandas_alt(employee_df):    import pandas as pd        # Get the second largest distinct salary    unique_salaries = employee_df['salary'].drop_duplicates()        if len(unique_salaries) < 2:        return None        return unique_salaries.nlargest(2).iloc[-1]

## Time and Space Complexity
* *SQL Solution:*** Time Complexity: O(n log n) where n is the number of rows in the Employee table. This is due to the sorting operation in the ORDER BY clause.* Space Complexity: O(n) for storing the distinct salaries.* *Pandas Solution:*** Time Complexity: O(n log n) for sorting the unique salaries.* Space Complexity: O(n) for storing the unique salaries.Both solutions have similar complexity, but the SQL solution might be more efficient for very large datasets as it's optimized at the database level.

## Test Cases

In [ ]:
import pandas as pd# Test Case 1: Normal case with multiple salariesdef test_normal_case():    # SQL test    employee_table = [(1, 100), (2, 200), (3, 300)]    assert second_highest_salary_sql(employee_table) == 200        # Pandas test    employee_df = pd.DataFrame(employee_table, columns=['id', 'salary'])    assert second_highest_salary_pandas(employee_df) == 200    assert second_highest_salary_pandas_alt(employee_df) == 200        print("Test Case 1 passed!")# Test Case 2: Only one salarydef test_one_salary():    # SQL test    employee_table = [(1, 100)]    assert second_highest_salary_sql(employee_table) is None        # Pandas test    employee_df = pd.DataFrame(employee_table, columns=['id', 'salary'])    assert second_highest_salary_pandas(employee_df) is None    assert second_highest_salary_pandas_alt(employee_df) is None        print("Test Case 2 passed!")# Test Case 3: Duplicate salariesdef test_duplicate_salaries():    # SQL test    employee_table = [(1, 100), (2, 100), (3, 200)]    assert second_highest_salary_sql(employee_table) == 100        # Pandas test    employee_df = pd.DataFrame(employee_table, columns=['id', 'salary'])    assert second_highest_salary_pandas(employee_df) == 100    assert second_highest_salary_pandas_alt(employee_df) == 100        print("Test Case 3 passed!")# Test Case 4: Empty tabledef test_empty_table():    # SQL test    employee_table = []    assert second_highest_salary_sql(employee_table) is None        # Pandas test    employee_df = pd.DataFrame(employee_table, columns=['id', 'salary'] if employee_table else [])    assert second_highest_salary_pandas(employee_df) is None    assert second_highest_salary_pandas_alt(employee_df) is None        print("Test Case 4 passed!")# Run all teststest_normal_case()test_one_salary()test_duplicate_salaries()test_empty_table()