# 626. Exchange Seats

SQL SchemaPandas SchemaTable: Seat+-------------+---------+| Column Name | Type    |+-------------+---------+| id          | int     || student     | varchar |+-------------+---------+id is the primary key (unique value) column for this table.Each row of this table indicates the name and the ID of a student.The ID sequence always starts from 1 and increments continuously. Write a solution to swap the seat id of every two consecutive students. If the number of students is odd, the id of the last student is not swapped.Return the result table ordered by id in ascending order.The result format is in the following example. **Example 1:**Input: Seat table:+----+---------+| id | student |+----+---------+| 1  | Abbot   || 2  | Doris   || 3  | Emerson || 4  | Green   || 5  | Jeames  |+----+---------+Output: +----+---------+| id | student |+----+---------+| 1  | Doris   || 2  | Abbot   || 3  | Green   || 4  | Emerson || 5  | Jeames  |+----+---------+Explanation: Note that if the number of students is odd, there is no need to change the last one's seat.

## Solution Explanation
This problem asks us to swap the seat IDs of every two consecutive students. If the number of students is odd, the last student's ID remains unchanged.The approach is to use SQL's CASE statement to handle the swapping logic:1. For even-numbered IDs (2, 4, 6, etc.), we subtract 1 to get the previous ID.2. For odd-numbered IDs (1, 3, 5, etc.), we add 1 to get the next ID, but only if there is a next student.3. For the last student in an odd-length table, we keep the ID as is.In pandas, we can achieve this by:1. Creating a copy of the dataframe to work with2. Determining if the total number of students is odd or even3. For even-numbered indices, swap with the previous student4. For odd-numbered indices, swap with the next student (if available)5. Handle the last student in an odd-length table separately

In [ ]:
import pandas as pddef exchange_seats(seat: pd.DataFrame) -> pd.DataFrame:    # If the dataframe is empty or has only one row, return it as is    if len(seat) <= 1:        return seat        # Create a copy of the dataframe to avoid modifying the original    result = seat.copy()        # Get the total number of students    n = len(seat)        # Swap seats for pairs of students    for i in range(0, n - 1, 2):        # Swap students in pairs        result.loc[seat.index[i], 'student'] = seat.iloc[i+1]['student']        result.loc[seat.index[i+1], 'student'] = seat.iloc[i]['student']        # Return the result sorted by id    return result.sort_values(by='id')For SQL, the solution would be:sqlSELECT     CASE        WHEN id % 2 = 1 AND id = (SELECT COUNT(*) FROM Seat) THEN id        WHEN id % 2 = 1 THEN id + 1        ELSE id - 1    END AS id,    studentFROM     SeatORDER BY     id;

## Time and Space Complexity
* *Time Complexity**: O(n), where n is the number of students. We iterate through each pair of students once.* *Space Complexity**: O(n), as we create a copy of the original dataframe to store our result.For the SQL solution, the time complexity is also O(n) as it processes each row once, and the space complexity is O(n) for the result set.

## Test Cases

In [ ]:
import pandas as pdimport unittestclass TestExchangeSeats(unittest.TestCase):    def test_example_case(self):        data = {            'id': [1, 2, 3, 4, 5],            'student': ['Abbot', 'Doris', 'Emerson', 'Green', 'Jeames']        }        seat = pd.DataFrame(data)        result = exchange_seats(seat)                expected = pd.DataFrame({            'id': [1, 2, 3, 4, 5],            'student': ['Doris', 'Abbot', 'Green', 'Emerson', 'Jeames']        })        pd.testing.assert_frame_equal(result, expected)        def test_empty_dataframe(self):        seat = pd.DataFrame(columns=['id', 'student'])        result = exchange_seats(seat)        pd.testing.assert_frame_equal(result, seat)        def test_single_student(self):        data = {            'id': [1],            'student': ['Abbot']        }        seat = pd.DataFrame(data)        result = exchange_seats(seat)        pd.testing.assert_frame_equal(result, seat)        def test_even_number_of_students(self):        data = {            'id': [1, 2, 3, 4],            'student': ['Abbot', 'Doris', 'Emerson', 'Green']        }        seat = pd.DataFrame(data)        result = exchange_seats(seat)                expected = pd.DataFrame({            'id': [1, 2, 3, 4],            'student': ['Doris', 'Abbot', 'Green', 'Emerson']        })        pd.testing.assert_frame_equal(result, expected)if __name__ == '__main__':    unittest.main()